<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View All Pegawai</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script type="text/javascript" charset="utf8"
	src="	https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
</head>

<nav th:replace="fragments/fragment :: navbar"></nav>

<body>
	<div style="padding: 32px">
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4>Cari Pegawai</h4>
					</div>

					<div class="card-body">
						<form th:action="@{/pegawai/cari}">
							<div class="form-group">
								<label>Provinsi*:</label> <select class="form-control"
									name="idProvinsi" id="provinsi">
									<option disabled="disabled" selected="selected">--
										Pilih Provinsi --</option>
									<option th:each="provinsi: ${listProvinsi}"
										th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
								</select>
							</div>
							<div class="form-group">
								<label>Instansi*:</label> <select class="form-control"
									name="idInstansi" id="instansi" th:value="${instansi}"
									required="required">
									<option disabled="disabled" selected="selected">--
										Pilih Instansi --</option>
								</select>
							</div>
							<div class="form-group">
								<label>Jabatan*:</label> <select class="form-control"
									name="idJabatan" id="jabatan">
									<option disabled="disabled" selected="selected">--
										Pilih Jabatan --</option>
									<option th:each="jabatan: ${listJabatan}"
										th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
								</select>
							</div>
							<p>*required</p>
							<button type="submit" class="btn btn-primary">Cari</button>
							<br>
						</form>
						
						<br>
						<table id="pegawai" class="display">
							<thead>
								<tr>
									<th>NIP</th>
									<th>Nama</th>
									<th>Tempat Lahir</th>
									<th>Tanggal Lahir</th>
									<th>Tahun Masuk</th>
									<th>Nama Instansi</th>
									<th>Jabatan</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>

								<tr th:each="pegawai : ${listPegawaiFix}">
									<td th:text="${pegawai.nip}" ></td>
									<td th:text="${pegawai.nama}"></td>
									<td th:text="${pegawai.tempatLahir}"></td>
									<td th:text="${pegawai.tanggalLahir}"></td>
									<td th:text="${pegawai.tahunMasuk}"></td>
									<td th:text="${pegawai.instansi.nama}"></td>
									<td> 
										<div th:each="jabatan : ${pegawai.jabatanList}">
										<p th:text="${jabatan.nama}"></p>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script>
		$(document).ready(function() {
			$('#pegawai').DataTable();
		});
		$('#provinsi')
				.change(
						function() {
							$
									.getJSON(
											"http://localhost:8080/provinsi-get",
											{
												provinsiId : $(this).val(),
												ajax : 'true'
											},
											function(data) {
												var html = '<option disabled="disabled" selected="selected">-- Pilih Instansi --</option>';
												var len = data.length;
												for (var i = 0; i < len; i++) {
													html += '<option value= "'+ data[i].id +'" + th:text="'+ data[i].nama +'">'
															+ data[i].nama
															+ '</option>';
												}
												$('#instansi').html(html);
											});
						});
		$('#instansi').change(function() {
			$.getJSON("http://localhost:8080/get/instansi-get", {
				instansiId : $(this).val(),
				ajax : 'true'
			}, function(data) {
				this.value = data;
			});
		});
	</script>
	</div>
</body>
</html>